:root {
    --main-bg-color: rgb(40, 167, 69);
    --main-text-color: rgb(40, 167, 69);
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
    --button-color:rgb(40, 167, 69);
    --text-red:rgb(255,0,0);
    --text-green:rgb(40, 167, 69);
    --bg-green:rgb(40, 167, 69);
  }

  .primary-text {
    color: var(--main-text-color);
  }

  .btn{
    background-color: var(--button-color);
  }

  .second-text {
    color: var(--second-text-color);
  }

  .primary-bg {
    background-color: var(--main-bg-color);
  }

  .secondary-bg {
    background-color: var(--second-bg-color);
  }

  .text-red{
    color:var(--text-red);
  }

  .text-green{
    color: var(--text-green);
  }

  .bg-green{
    background-color: var(--bg-green);
  }

  .rounded-full {
    border-radius: 100%;
  }

  /*#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }*/

  #sidebar-wrapper{
    box-shadow: 2px 2px 12px rgba(0,0,0,2);/*red,green,blue,alpha* rgba*/
  }



  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #menu-toggle {
    cursor: pointer;
  }

  .list-group-item {
    border: none;
    padding: 20px 30px;
  }

  .list-group-item.active {
    background-color: transparent;
    color: var(--second-text-color);
    font-weight: bold;
    border: none;
  }

  .dados{
    align-items: center;
    border-top: 1px solid black;
  }

.form-label{
      box-shadow: none;
      font-size: 18px;
      font-weight: normal;
    margin-bottom: 22px;
}

.form-label:focus{
  border-color: #d9d9d9;
}

.form-control:focus{
  box-shadow: none;

}

.b{
  font-size:14px;
}

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
